<h3>Most Popular Comedians</h3>
<% @comedians.in_groups_of(3) do |group| %>
	<div class="row">
		<% group.compact.each do |comedian| %>
			<div class="col-md-4 comedianBox">
				<h4>
					<%= link_to comedian.name, comedian %>
					(<%= comedian.users.count %> <%= 'Fan'.pluralize(comedian.users.count) %>)
				</h4>
				<%= image_tag comedian.picture.url(:medium), height: '120px', class: "comedianPicture" %>
				<ul class="comedianShows">
					<% comedian.shows.where("showtime > ?", Time.now).each do |show| %>
						<li><%= link_to show.showtime.strftime("%b %e") + ": " + show.venue.name, show %></li>
					<% end %>
				</ul>
			</div>
		<% end %>
	</div>
<% end %>
<%= link_to 'New Comedian', new_comedian_path if user_signed_in? && current_user.admin? %>
