<div class="row">
    <h1>
    	<%= @comedian.name %> (<%= @comedian.users.count %> <%= 'Fan'.pluralize(@comedian.users.count) %>)
    </h1>
</div>

<div class="row">
	<div class="col-md-4">
		<%= follow_unfollow(@comedian) %>
		<br />
		<%= image_tag @comedian.picture.url(:medium) %>
		<p><%= @comedian.description %></p>
	</div>

	<div class="col-md-8">
		<br /><br />
		<h4><%= @shows.count %> <%= 'Upcoming Show'.pluralize(@shows.count) %> Across the Country</h4>
		<% if @shows.any? %>
			<ul class="shows">
			    <% @shows.each do |show| %>
				    <li>
				    	<%= link_to show.name, show %> <%= show.showtime.strftime("%b %e at %-I:%M %p") %> at <%= show.venue.name %>
				    </li>
			    <% end %>
			</ul>
		<% end %>
	</div>
</div>
<% if user_signed_in? && current_user.admin? %>
	<%= link_to 'Delete', comedian_path(@comedian), method: :delete, data: { confirm: 'Are you sure?' } %>
	<%= link_to 'Edit', edit_comedian_path(@comedian) %>
	<%= link_to 'Update Shows', update_ticketmaster_shows_path(id: @comedian.id) %>
<% end %>