<h1>Comedians#show</h1>
<p><%= @comedian.name %> (<%= @comedian.users.count %> <%= 'Fan'.pluralize(@comedian.users.count) %>)</p>

<% if user_signed_in? %>
	<% if current_user.fan_of?(@comedian) %>
		<%= render 'unfollow' %>
	<% else %>
		<%= render 'follow' %>
	<% end %>
<% else %>
	<%= button_to 'Follow', new_user_session_path %>
<% end %>

<p><%= @comedian.description %></p>
<% if user_signed_in? && current_user.admin? %>
	<%= link_to 'Edit Comedian', edit_comedian_path(@comedian) %>
	<%= link_to 'Delete', comedian_path(@comedian), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>
