<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
  <% user_loc = Geocoder.search(Rails.env.development? ? '76.219.220.69' : request.remote_ip).first %>
  <% user_loc = user_loc.city + ', ' + user_loc.state_code + ' ' + user_loc.postal_code + ', ' + user_loc.country_code %>
  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :location, required: true, input_html: { value: user_loc }, hint: "Enter zip code or address for more accurate lists of comedy shows near you." %>
    <%= f.input :distance_pref, required: true, input_html: { value: "20" }, hint: "How many miles will you travel for a show?" %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, required: true %>
    <% if params[:com_id] %>
      <%= f.hidden_field :com_id, value: params[:com_id] %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>