<h2><%= @venue.name %></h2>
<%= @venue.full_address %>
<% if user_signed_in? && current_user.admin? %>
	<%= link_to 'Edit Venue', edit_venue_path(@venue) %>
	<%= link_to 'Delete', venue_path(@venue), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>

<h2>Shows at this venue</h2>
<% if @shows.empty? %>
	<p>Sorry, no shows scheduled here yet!</p>
<% else %>
	<ul>
	<% @shows.each do |show| %>
		<li><%= link_to "#{show.name}: #{show.long_datetime}", show %></li>
	<% end %>
	</ul>
<% end %>