<h1>Venues#show</h1>
<%= @venue.name %><br />
<%= @venue.address.full_address %>
<% if user_signed_in? && current_user.admin? %>
	<%= link_to 'Edit Venue', edit_venue_path(@venue) %>
	<%= link_to 'Delete', venue_path(@venue), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>

<h2>Shows at this venue</h2>
<% if @venue.shows.empty? %>
	<p>Sorry, no shows scheduled here yet!</p>
<% else %>
	<ul>
	<% @venue.shows.each do |show| %>
		<li><%= link_to "#{show.name}: #{show.showtime}", show %></li>
	<% end %>
	</ul>
<% end %>