<p>
<%= @comedian.name %><br />
<%= @venue["country"]["countryCode"] %>
</p>

<% @events["_embedded"]["events"].each do |event| %>
<li><%= event["id"] %><%= event["name"] %> - <%= event["dates"]["start"]["localDate"] %> <%= event["dates"]["start"]["localTime"] %> - <%= event["_embedded"]["venues"].first["name"] %> <%= event["_embedded"]["venues"].first["id"] %></li>
<% end %>

