<div id="header_container">
  <span id="header"> Stand Up Shows Near <span id="citySpan"><%= @city %></span></span>
  <button id="changeCityBtn" class="btn btn-sm btn-primary">Change</button>
  <%= form_tag root_path, id: "changeCityForm", class: "hide", method: :get do %>
    <%= text_field_tag :locsearch, params[:locsearch], placeholder: "City, State(US)" %>
  <% end %>
</div>

<%= shows_index_options %>

<div class="row">
	<div class="col-md-12">
		<% if @shows.empty? %>
			<p>Sorry, no upcoming shows near you.</p>
		<% else %>
			<% @shows.in_groups_of(2) do |group| %>
				<div class="row">
					<% group.compact.each do |show| %>
            <%= render partial: 'show_box', locals: { show: show } %>
					<% end %>
				</div>
			<% end %>
		<% end %>
	</div>
</div>

