<div class="row">
    <h1><%= @show.name %></h1>
</div>

<div class="row">
	<% unless @lineup.empty? %>
	<div class="col-md-4">
		<%= image_tag @lineup.first.picture.url(:medium)%>
	</div>
	<div class="col-md-8">
		<h3>Headliner: <%= link_to @lineup.first.name, @lineup.first %></h3>
		<p><%= @lineup.first.description %></p>
		<% end %>
		<% if @lineup.count > 1 %>
			<h4>Also Featuring:</h4>
			<ul class="shows">
			    <% @lineup.drop(1).each do |comedian| %>
				    <li>
				    	<%= link_to comedian.name, comedian %>
				    </li>
			    <% end %>
			</ul>
		<% end %>
		<h4>Show Info:</h4>
		<p>
			<%= @show.description %>
		</p>
		<p>
			<%= @show.long_datetime %>
		</p>
		<p>
			<%= link_to @show.venue.name, @show.venue %><br /> 
			<%= @show.venue.full_address %>
		</p>
	</div>
</div>

<% if @lineup.empty? %>
	<p>No comedians booked yet</p>
<% elsif @lineup.any? %>
	<ul>
		<% @lineup.each do |comedian| %>
			<li>
				<%= link_to comedian.name, comedian %> (<%= comedian.fan_count %> <%= 'Fan'.pluralize(comedian.fan_count) %>)
				<% if user_signed_in? && current_user.admin? %>
					<%= button_to "Remove Comedian", booking_path(show_id: @show.id, comedian_id: comedian.id), method: :delete %>
				<% end %>
			</li>
		<% end %>
	</ul>
<% end %>

<%= shows_show_options(@show) %>